body{
    background-color: blueviolet;
    color:antiquewhite;
    margin: 0px;
}

header{
border-bottom: solid 2px black;
pedding: 20px;
font-size: 32px;
color:black;
}

section{
background-color:rgb(179, 179, 183) ;
padding-top: 80px;
padding-bottom: 80px;
}